---
layout: default
---
{{ content }}
<div class="container home">
  {%- if site.posts.size > 0 -%}
  <h2>{{ page.list_title | default: "Posts" }}</h2>
  <ul class="list-unstyled">
    {%- for post in site.posts -%}
    <li class="media">
      <!--<img class="mr-3" src="..." alt="Generic placeholder image">-->
      <div class="media-body">
        <h5 class="mt-0 mb-1">
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h5>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </div>
    </li>
    {%- endfor -%}
  </ul>
  {%- endif -%}
</div>


